/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/bulma.sass";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  background-image: url(../src/assets/background.svg);
  background-size: cover;

  overflow-y: auto !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
